<!doctype html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title> -->
    <!-- <link rel="stylesheet" type="text/css" href="asset/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="asset/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="asset/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="asset/css/style.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  </head>
  <body>
		<div class="container-fluid">
			<div class="row">

				<section class="nav-custom link-white fixed-top">
					<div class="container-lg">
						<div class="row ">
							<nav class="navbar navbar-expand-lg">
								<div class="container-fluid">
									<a class="navbar-brand main-button" href="#">LOGO</a>
									<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
									</button>
									<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
										<ul class="navbar-nav me-auto mb-2 mb-lg-0">
											<li class="nav-item">
												<a class="nav-link active nav-font" aria-current="page" href="#">HOME</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active nav-font" aria-current="page" href="#">WORK</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active nav-font" aria-current="page" href="#">CONTACT</a>
											</li>
											<li class="nav-item">
												<a class="nav-link active nav-font" aria-current="page" href="#">ABOUT ME</a>
											</li>
										</ul>
										<div class="d-flex" role="search">
											<ul class="navbar-nav me-auto mb-2 mb-lg-0">
												<li class="nav-item">
													<a class="nav-link active nav-font" aria-current="page" href="#">SIGN UP</a>
												</li>
												<li class="nav-item">
													<a class="nav-link active nav-font" aria-current="page" href="#">LOGIN</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</section>


				<section class="header padding0 container">
					<div class="bg">
						<div class="textbg">
							<!-- <h1 class="font-white">PLAY TRADITIONAL GAME</h1> -->
							<div class="h1 font-white">PLAY RADITIONAL GAME</div>
							<div class="font-white h3-c">Experience new traditional game</div>
							<a href="/games" class="btn btn-warning btn-lg active px-5" role="button" aria-pressed="true">Play Game</a>
						</div>
					</div>
						<!-- <img src="asset/images/home/main-bg.jpg" class="img-fluid"  alt="...">	 -->
						
						<!-- <div class="text-above">
							<h1>PLAY TRADITIONAL GAME</h1>
						</div> -->
						
				</section>

				<section class="about container-fluid">
					<div class="row">
						<div class="col-lg-3 p-5 font-white">
							<h2>What's so special ?</h2>
							<p><h1>THE GAMES</h1></p>
						</div>
						<div class="col-lg-9 mt-5">
							<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="asset/images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="asset/images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
									</div>
									<div class="carousel-item">
										<img src="asset/images/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
						</div>
					</div>
				</section>

				<section class="game-features">
					<div class="row">
						<div class="col-lg-6">

						</div>
						<div class="col-lg-6 font-white p-5">
							<h2>What's so special ?</h2>
							<p><h1>FEATURES</h1></p>
							<ul>
								<h3>					
									<li>TRADITIONAL GAME</li>
									<li>GAME SUIT</li>
									<li>TBD</li>
								</h3>
							</ul>
						</div>
					</div>
				</section>

				<section class="sistem-requirements">

				</section>

				<section class="top-scores">

				</section>

				<section class="subscribe">
					<div class="col-lg-6 bgsubscribe">

					</div>
					<div class="col-lg-6"></div>

				</section>



			</div>
		</div>

		<!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <script src="asset/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>