<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ROCK PAPER SCISSORS</title>
	<link rel="stylesheet" type="text/css" href="asset/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="asset/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="asset/css/style.css">
</head>
<body>
	<section class="container bg-game">
		<div class="row">

			<nav class="navbar">
				<div class="container-fluid">
					<div class="navbar-brand" href="#">
						<a href="/" class="btn"> <b> < </b> </a>
						<img src="asset/images/games/games.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
						ROCK PAPER SCISSORS
					</div>
				</div>
			</nav>

			<section class="content" id="game">
				<div class="row">

					<div class="col-4">
						<div class="row">
							<div class="flex-games">
								<div><b>PLAYER 1</b></div>
								<div id="playerBatu">
									<a href="#" id="disableBatu" class="" onclick="pilihAksi('batu')" aria-disabled="true"> <img src="asset/images/games/batu.png" alt="Logo" width="100" height="100"> </a>
								</div>
								<div id="playerKertas">
									<a href="#" id="disableKertas" class="" onclick="pilihAksi('kertas')" aria-disabled="true"> <img src="asset/images/games/kertas.png" alt="Logo" width="100" height="100"> </a>
								</div>
								<div id="playerGunting">
									<a href="#" id="disableGunting" class="" onclick="pilihAksi('gunting')" aria-disabled="true"> <img src="asset/images/games/gunting.png" alt="Logo" width="100" height="100"> </a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-4">
						<div class="row">
							<div class="flex-games"  style="flex-basis: 400px">
								<div id="hasil" style="flex-basis: 400px; line-height: 400px;">
									<b>VS</b>
								</div>
								<div>
									<a href="#" onclick="reset()"><img src="asset/images/games/refresh.png" alt="Logo" width="100" height="100"></a>
								</div>
							</div>
						</div>
					</div>

					<div class="col-4">
						<div class="row">
							<div class="flex-games">
								<div><b>COM</b></div>
								<div id="comBatu">
									<a href="#" class="btn" role="button" data-bs-toggle="button">
										<img src="asset/images/games/batu.png" alt="Logo" width="100" height="100">
									</a>
								</div>
								<div id="comKertas">
									<a href="#" class="btn" role="button" data-bs-toggle="button">
										<img src="asset/images/games/kertas.png" alt="Logo" width="100" height="100">
									</a>
								</div>
								<div id="comGunting">
									<a href="#" class="btn" role="button" data-bs-toggle="button">
										<img src="asset/images/games/gunting.png" alt="Logo" width="100" height="100">
									</a>
								</div>  
							</div>
						</div>
					</div>

				</div>
			</section>

			<section class="result">

			</section>

		</div>
	</section>
	<script src="asset/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
	<script src="asset/js/games.js"></script>
</body>
</html>